@model IEnumerable<Aevum.Models.Work>

@{
    ViewBag.Title = "Index";
}

<h2>Index of Works</h2>

<p>
    @Html.ActionLink("Add Work", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorSurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManuscriptType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationWritten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationFound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotesOnWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category1.CategoryName)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <div>
        <div class="row">
            <div class="col-md-2">
                <h2>@Html.DisplayFor(modelItem => item.Date)</h2>
            </div>
            <div class="col-md-3">
                <h2>@Html.DisplayFor(modelItem => item.WorkTitle)</h2>
            </div>
            <div class="col-md-3">
                <h2>@Html.DisplayFor(modelItem => item.AuthorName) @Html.DisplayFor(modelItem => item.AuthorSurName)</h2>
            </div>
        </div>

    </div>
            
       
            @*THIS SHOULD BE IN A MODAL BOX @Html.DisplayFor(modelItem => item.WorkDescription)*@
        
            @Html.DisplayFor(modelItem => item.ManuscriptType)
       
            @Html.DisplayFor(modelItem => item.LocationWritten)
       
            @Html.DisplayFor(modelItem => item.LocationFound)
       
            @Html.DisplayFor(modelItem => item.CurrentLocation)
       
            @Html.DisplayFor(modelItem => item.NotesOnWork)
       
            @Html.DisplayFor(modelItem => item.Category1.CategoryName)
       
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkID }) @Html.ActionLink("Details", "Details", new { id=item.WorkID }) @Html.ActionLink("Delete", "Delete", new { id=item.WorkID })
   
}

</table>
