@model IEnumerable<Aevum.Models.Work>

@{
    ViewBag.Title = "Index";
}

<h2 class="lead">Index of Works</h2>

<p>
    @Html.ActionLink("Add Work", "Create")
</p>

<div>
    @using (Html.BeginForm())
    {
        <p class="search">
            @Html.RadioButton("Search", "Title", true)<span>Find by Title</span>
            @Html.RadioButton("Search", "Name")<span>Author</span>
            @Html.RadioButton("Search", "Date")<span>Date</span>
             @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
</div>

<section>
    @foreach (var item in Model)
    {
        <div class="container">
            <div class="work informationDisplay row">
                <div class="col-md-2">
                    <h3>@Html.DisplayFor(modelItem => item.Date)</h3>
                </div>
                <div class="col-md-5">
                    <h3>@Html.DisplayFor(modelItem => item.WorkTitle)</h3>
                </div>
                <div class="col-md-5">
                    <h3>@Html.DisplayFor(modelItem => item.AuthorName) @Html.DisplayFor(modelItem => item.AuthorSurName)</h3>
                </div>
            </div>
        </div>
        <div class="row editDetails">
            <div class="col-md-6"><a href="@Url.Action("Edit", "Works", new { id = item.WorkID })" class="smallButton text-center" style="float:right"role="button">Edit Entry</a></div>
            <div class="col-md-6">
                <a href="@Url.Action("Details", "Works", new { id = item.WorkID })" class="smallButton text-center" style="float:left"role="button">Entry Details</a></div>
            </div>

        @*@*<div class="row">
                <div class="col-md-2">
                    <p>@Html.DisplayFor(modelItem => item.Category1.CategoryName)</p>
                </div>
                <div class="col-md-5">
                    <p>@Html.DisplayFor(modelItem => item.ManuscriptType)</p>
                </div>
                <div class="col-md-5">
                    <p>@Html.DisplayFor(modelItem => item.LocationFound)</p>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-2">
                        <p>@Html.DisplayFor(modelItem => item.LocationWritten)</p>
                    </div>
                </div>

                <a href="@Url.Action("Index", "MedProes")" role="button" class="bigButton">Medical Professionals Index</a>
        *@
        

        @*THIS SHOULD BE IN A MODAL BOX @Html.DisplayFor(modelItem => item.WorkDescription)*@

        @*@Html.DisplayFor(modelItem => item.CurrentLocation)

            @Html.DisplayFor(modelItem => item.NotesOnWork)*@

        @*<table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuthorSurName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManuscriptType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationWritten)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationFound)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NotesOnWork)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category1.CategoryName)
                </th>
                <th></th>
            </tr>*@
    }
</section>



